#notification {
    border: var(--border);
    border-radius: var(--border-radius-10);
    background-color: var(--bg);
    width: 180px;
    position: fixed;
    top: 1vh;
    left: 0.1vw;
    padding: 0.6rem;
}

#notification img {
    width: 50%;
}

#notification p {
    font-size: 1vw;
    color: var(--color-font);
}