/* Style de l'ui Welcome */

#welcome {
    margin-top: 15vh;
    height: 600px;
    width: 800px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-20);
    border: var(--border);
}

.btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#identityForm {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

